@import "../../.cache/hellwal/waybar-colors.css";


* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: alpha(@background,.9);
    border-radius: 0;
    /* border-bottom: 2px solid @blue; */
}

#waybar > * {
	 color: @foreground;
}

#workspaces {
    margin: 0px 0px;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 5px;
    transition: none;
    border-radius: 0px;
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
}

#workspaces button.active {
    color: @color1;
    border-bottom: 2px solid @pink;
    border-left: none;
    border-right: none;
    padding: 0px 10px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: @color1;
    padding: 0 8px;
}

#mpris,
#temperature,
#cpu,
#custom-power,
#tray,
#tray menu,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    margin: 1px 0;
    padding: 0 10px;
}

#clock {
	padding-top: 2.5px;
	padding-left: 5px;
}

#custom-notifications {
	margin: 1px 0;
	padding: 0 5px;
}

#mpris.playing {
	color: @color1;
}

#custom-notifications:hover,
#workspaces button:hover,
#mpris:hover,
#cpu:hover,
#tray menu menuitem:hover,
#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    color: @background;
    background-color: @foreground;
}
