[mgr]
show_hidden = false
linemode = "size"

[opener]
edit = [
    { run = 'micro "$@"', block = true, for = "unix" },
    { run = 'nvim "$@"', block = true, for = "unix"}
]
open = [
    { run = 'xdg-open "$1"', desc = "Open", for = "linux" },
]
reveal = [
    { run = 'xdg-open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
]
extract = [
    { run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
play = [
    { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
    {run = '~/.config/yazi/scripts/toggle-watched.sh "$@"', desc = "Mark watched", for = "unix"},
    { run = 'ffprobe "$@"; read', block=true, desc="Info", for ="unix"}
]
view = [
	{ run = 'imv "$@"', for = "unix", orphan = true},
	{ run = '~/scripts/wallpaper/set-wallpaper-hellwal.sh "$@"', for = "unix", desc="Set wallpaper"},
	{ run = 'kitty icat "$@"; read -n1', for = "unix", block=true },
]

execute = [
	{ run = 'umu-run "$@"', orphan = true }
]

script = [
	{ run = 'sh "$@"', block = true}
]

[open]
rules = [
	# Executable
	{ mime = "application/microsoft.portable-executable", use = ["execute", "reveal"] },
    # Folder
    { name = "*/", use = ["open", "reveal"] },
    # Text
    { mime = "text/*", use = ["edit"] },
	{ mime = "text/shellscript", use = ["script"]},
    # Image
    { mime = "image/*", use = ["view", "reveal"] },
    # Media
    { mime = "{audio,video}/*", use = ["play", "mark_watched", "reveal"] },
    # Archive
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["extract", "reveal"] },
    # JSON
    { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
    { mime = "*/javascript", use = ["edit", "reveal"] },
    # Empty file
    { mime = "inode/empty", use = ["edit", "reveal"] },
    # Fallback
    { name = "*", use = ["open", "reveal"] },
]

[plugin]
  prepend_preloaders = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  # There are more extensions which are supported by mediainfo.
  # Just add file's MIME type to `previewers`, `preloaders` above.
  # https://mediaarea.net/en/MediaInfo/Support/Formats
