[mgr]
show_hidden = false
linemode = "size"

[opener]
edit = [
    { run = 'micro "$@"', block = true, for = "unix" },
]
open = [
    { run = 'xdg-open "$1"', desc = "Open", for = "linux" },
]
reveal = [
    { run = 'xdg-open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
]
extract = [
    { run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
play = [
    { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
    {run = '~/.config/yazi/scripts/toggle-watched.sh "$@"', desc = "Mark watched", for = "unix"}
]
view = [
	{ run = 'imv "$@"', for = "unix"}
]

[open]
rules = [
    # Folder
    { name = "*/", use = ["open", "reveal"] },
    # Text
    { mime = "text/*", use = ["edit", "reveal"] },
    # Image
    { mime = "image/*", use = ["view", "reveal"] },
    # Media
    { mime = "{audio,video}/*", use = ["play", "mark_watched", "reveal"] },
    # Archive
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["extract", "reveal"] },
    # JSON
    { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
    { mime = "*/javascript", use = ["edit", "reveal"] },
    # Empty file
    { mime = "inode/empty", use = ["edit", "reveal"] },
    # Fallback
    { name = "*", use = ["open", "reveal"] },
]

